.button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid black;
    outline: none;
    z-index: 2;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
    }

    &.primary {
        color: white;
        background-color: black;
    }

    &.secondary {
        color: black;
        background-color: white;
    }

    &.default {
        color: black;
        background-color: white;
        border-color: white;
    }

    &.full-width {
        width: 100%;
    }

    &.small {
        font-size: 0.8rem;
        padding: 0.5rem 1.2rem;
        font-weight: 600;

        & > .loader {
            font-size: 1rem;
        }
    }

    &.normal {
        font-size: 1rem;
        padding: 0.6rem 1.5rem;

        & > .loader {
            font-size: 1.25rem;
        }
    }

    &.large {
        font-size: 1.2rem;
        padding: 0.7rem 1.8rem;

        & > .loader {
            font-size: 1.5rem;
        }
    }

    &.hover-effect {
        position: relative;
        overflow: hidden;
        transition: 400ms;

        &:active,
        &:hover {
            transition: 400ms;
        }

        &::before {
            content: '';

            top: -25%;
            position: absolute;
            z-index: -1;

            height: 150%;
            width: 300%;

            clip-path: polygon(25% 0, 100% 0%, 75% 100%, 0 100%);
            transition: 400ms;
        }

        &.primary {
            &:active,
            &:hover {
                color: black;

                &::before {
                    right: -100%;
                }
            }

            &::before {
                background-color: white;
                right: 100%;
            }
        }

        &.secondary {
            &:active,
            &:hover {
                color: white;

                &::before {
                    left: -100%;
                }
            }

            &::before {
                background-color: black;
                left: 100%;
            }
        }
    }

    & > .loader {
        position: absolute;
        color: transparent;
        animation-name: spin;
        animation-duration: 1100ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    &.loading {
        color: transparent;

        &.secondary {
            & > .loader {
                color: black;
            }
        }

        &.primary {
            & > .loader {
                color: white;
            }
        }

        &.default {
            & > .loader {
                color: black;
            }
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
