.toggle {
    position: relative;
    display: inline-block;
    width: 2.5rem;
    height: 1.5rem;

    & input {
        display: none;

        &:disabled + .slider {
            cursor: not-allowed;
        }

        &:checked + .slider {
            background-color: black;

            &::before {
                -webkit-transform: translateX(1rem);
                -ms-transform: translateX(1rem);
                transform: translateX(1rem);
            }
        }
    }

    & .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;

        -webkit-transition: 300ms;
        transition: 300ms;
        border-radius: 20rem;

        &::before {
            position: absolute;
            content: '';
            height: 1.25rem;
            width: 1.25rem;
            left: 2px;
            bottom: 2px;
            background-color: white;
            -webkit-transition: 300ms;
            transition: 300ms;
            border-radius: 50%;
        }
    }
}
