// background-color: rgb(170, 170, 170);

// background-color: rgb(242, 242, 242);

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(242, 242, 242);
}

h4 {
    margin-bottom: 0.5rem;
}

.row {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-flow: wrap;
}
